@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 9%;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header .navbar a {
    padding: 10px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

header .logo {
    font-size: 25pt;
    color: black;
    margin-left: 20px;
}

header .navbar a:hover {
    color: rgb(243, 236, 229);
}
